:root,
:root.yellow {
    --bg-color: #FFECA8;
    --text-color: #681A83;
}

:root.pink {
    --bg-color: #FFB6B6;
    --text-color: #475846;
}

:root.blue {
    --bg-color: #B7CBFF;
    --text-color: #62473B;
}

@font-face {
    font-family: 'title';
    src: url("./font/establish.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'content';
    src: url("./font/watermelon.ttf");
    font-weight: normal;
    font-style: normal;
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background: var(--bg-color);
    color: #222222;
    font-family: 'content';
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

article {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0rem;
}

.title {
    color: var(--text-color);
    font-family: 'title';
    font-size: 32px;
    text-align: center;
}

.subtitle {
    font-size: 24px;
    margin-bottom: 0.3rem;
}

.main-img {
    margin-top: 0.5rem;
    width: 15rem;
}

.desc {
    font-family: 'content';
    line-height: 1.6rem;
    min-width: 40%;
    padding: 2rem 4rem;
    white-space: pre-line;
}

.btn-text {
    font-family: 'title';
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
}

.btn {
    border: none;
    color: var(--bg-color);
    background-color: var(--text-color);
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.5s;
    margin: 0.5rem;
    width: 15rem;
    font-family: 'content';
}

.btn:hover {
    color: var(--text-color);
    background-color: var(--bg-color);
}

footer {
    white-space: pre-line;
    font-size: 0.8rem;
    padding: 1rem;
    margin-top: -1rem;
    text-align: center;
}

.balloon {
    width: 100%;
}

#3h {
    justify-content: center;
    display:none;
    margin-top: 0rem;
}

.result-txt {
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
}

.result-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    width: 100%;
}

.btn-group {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.percent {
    font-size: 2.5rem;
}

.icon {
    width: 70px;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-3h {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    flex-direction: column;
    margin-bottom: 3rem;
    line-height: 1.5rem;
}

.item-3h div {
    display: flex;
    align-items: center;
}

.aBox {
    display: flex;
    margin-top: 1.5rem;
    flex-direction: column;
    align-items: center;
}

.qBox {
    margin-top: 0.8rem;
    width: 70%;
    white-space: pre-line;
    line-height: 1.5rem;
    text-align: center;
}

.answerList {
    white-space: pre-line;
    line-height: 1.5rem;
}

.resultIntro {
    margin: 1rem 0rem;
    line-height: 1.5rem;
}

.resultName {
    font-family: "title";
    font-size: 2rem;
    margin-bottom: 2.5rem;
}

.resultDesc {
    line-height: 1.5rem;
    width: 80%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    white-space: normal;
}